<p-dataView #dv [value]="books" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="ISBN"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Search by ISBN" (keyup)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-book pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-4" style="text-align:center">
            <img src="{{book.imgUrl}}">
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ISBN ID </div>
                <div class="ui-g-10 ui-sm-6"><b>{{book.ISBN}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Book Name </div>
                <div class="ui-g-10 ui-sm-6"><b>{{book.name}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Added By </div>
                <div class="ui-g-10 ui-sm-6"><b>{{book.addedBy}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Ratings</div>
                <div class="ui-g-10 ui-sm-6"><b><p-rating [(ngModel)]="book.rating" readonly="true" [cancel]="false"></p-rating></b></div>
               
                
                <div class="ui-g-2 ui-sm-6">Comments By</div>
                <div class="ui-g-10 ui-sm-6" *ngFor="let comment of book.comments"><b>{{book.addedBy}} - {{comment}}</b></div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="fa-search" (click)="selectBook($event, book)">search here</button>
        </div>
    </div>
</ng-template>
<ng-template let-book pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="book.vin" [style]="{'text-align':'center'}">
            <img src="{{book.imgUrl}}" width="60">
            <div class="car-detail">{{book.addedBy}} - {{book.rating}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton type="button" icon="fa-search" (click)="selectBook($event, book)" style="margin-top:0">Click to know more</button>
        </p-panel>
    </div>
</ng-template>
</p-dataView>

<p-dialog header="Book Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true" width="500" (onAfterHide)="onDialogHide()">
<div class="ui-g" *ngIf="selectedBook">
    <div class="ui-g-12" style="text-align:center">
        <img src="{{selectedBook.imgUrl}}">
    </div>
    <div class="ui-g-4">ISBN: </div>
    <div class="ui-g-8">{{selectedBook.ISBN}}</div>
    
    <div class="ui-g-4">Name: </div>
    <div class="ui-g-8">{{selectedBook.name}}</div>
    
    <div class="ui-g-4">addedBy: </div>
    <div class="ui-g-8">{{selectedBook.addedBy}}</div>
    
    <div class="ui-g-4">rating: </div>
    <div class="ui-g-8">
            <p-rating [(ngModel)]="selectedBook.rating"  [cancel]="false"></p-rating>
           </div>
           <div class="ui-g-4">Comments: </div>
           
           <div class="ui-g-8">
                
                <input pInputText id="username" [(ngModel)]="commentArray" />
               </div>
</div>
<p-footer>
        <button type="button" pButton icon="fa-check" (click)="updateBook(selectedBook.ISBN)" label="Yes">YES</button>
        <button type="button" pButton icon="fa-close" (click)="display=false" label="No">NO</button>
    </p-footer>
</p-dialog>

<p-dialog header="Terms And Conditions" [(visible)]="display" modal="modal" appendTo="body" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
    <span>Hello welcome to book management system, we some rules to follow, 
        1)you should have unique username
        2)please check ISBN id, it should be unique. 
        3)Please follow our rule 
        if you are fine with this go ahead and add your user name with us.
    </span>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="username">User Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="username" [(ngModel)]="username" />
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="savetolocal(username)" label="Yes">Yes</button>
            <button type="button" pButton icon="fa-close" (click)="display=false" label="No">NO</button>
        </p-footer>
</p-dialog>
