<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Striped Table</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Table on Plain Background</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<p-dataView #dv [value]="books" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
[sortField]="sortField" [sortOrder]="sortOrder">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="sortOptions"  [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                    <input type="search" pInputText placeholder="Search by book" (keyup)="dv.filter($event.target.value)">
                </div>
            </div>
            <div class="ui-g-6 ui-md-4" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-car pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-4" style="text-align:center">
            <img src="{{car.imgUrl}}">
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">ISBN ID </div>
                <div class="ui-g-10 ui-sm-6"><b>{{car.ISBN}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Book Name </div>
                <div class="ui-g-10 ui-sm-6"><b>{{car.name}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Added By </div>
                <div class="ui-g-10 ui-sm-6"><b>{{car.addedBy}}</b></div>
                
                <div class="ui-g-2 ui-sm-6">Ratings</div>
                <div class="ui-g-10 ui-sm-6"><b>{{car.rating}}</b></div>
                <p-rating [(ngModel)]="car.rating" readonly="true" stars="10" [cancel]="false"></p-rating>
                
            </div>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="fa-search" (click)="selectCar($event, car)"></button>
        </div>
    </div>
</ng-template>
<ng-template let-car pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
            <img src="{{car.imgUrl}}" width="60">
            <div class="car-detail">{{car.addedBy}} - {{car.rating}}</div>
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton type="button" icon="fa-search" (click)="selectCar($event, car)" style="margin-top:0"></button>
        </p-panel>
    </div>
</ng-template>
</p-dataView>

<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true" width="500" (onAfterHide)="onDialogHide()">
<div class="ui-g" *ngIf="selectedCar">
    <div class="ui-g-12" style="text-align:center">
        <img src="{{selectedCar.imgUrl}}">
    </div>
    <div class="ui-g-4">ISBN: </div>
    <div class="ui-g-8">{{selectedCar.ISBN}}</div>
    
    <div class="ui-g-4">Name: </div>
    <div class="ui-g-8">{{selectedCar.name}}</div>
    
    <div class="ui-g-4">addedBy: </div>
    <div class="ui-g-8">{{selectedCar.addedBy}}</div>
    
    <div class="ui-g-4">rating: </div>
    <div class="ui-g-8">{{selectedCar.rating}}</div>
</div>
</p-dialog>

<p-dialog header="Terms And Conditions" [(visible)]="display" modal="modal" appendTo="body" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
    <span>Hello welcome to book management system, we some rules to follow, 
        1)you should have unique username
        2)please check ISBN id, it should be unique. 
        3)Please follow our rule 
        if you are fine with this go ahead and add your user name with us.
    </span>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="username">User Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="username" [(ngModel)]="username" />
            </div>
        </div>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="savetolocal(username)" label="Yes"></button>
            <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
        </p-footer>
</p-dialog>
