    <p-table [columns]="cols" [value]="books" selectionMode="single" [(selection)]="selectedBook"  [paginator]="true" [rows]="15">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>ISBN</th>
                <th>bookName</th>
                <th>addedBy</th>
                <th>rating</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-books>
            <tr>
                <td>{{books.ISBN}}</td>
                <td>{{books.name}}</td>
                <td>{{books.addedBy}}</td>
                <td>
                    <p-rating [(ngModel)]="books.rating" readonly="true" [cancel]="false"></p-rating>
                    
                </td>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
                <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
            </div>
        </ng-template>
        
    </p-table>
    
    <p-dialog header="Add Your Book" appendTo="body" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
        <div class="ui-g ui-fluid" *ngIf="BookRequest">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="ISBN">ISBN</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="ISBN" [(ngModel)]="BookRequest.ISBN" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="name">Book name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="name" [(ngModel)]="BookRequest.name" />
                </div>
            </div>
           
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="rating">rating</label>
                </div>
                <div class="ui-g-8">
                    {{BookRequest.rating}}
                    <p-rating [(ngModel)]="BookRequest.rating" [cancel]="false"></p-rating>
                    
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="image">Image</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="image" [(ngModel)]="BookRequest.imgUrl" />
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
    <p-dialog header="Terms And Conditions" [(visible)]="display" modal="modal" appendTo="body" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
        <span>Hello welcome to book management system, we some rules to follow, 
            1)you should have unique username
            2)please check ISBN id, it should be unique. 
            3)Please follow our rule 
            if you are fine with this go ahead and add your user name with us.
        </span>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="username">User Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="username" [(ngModel)]="username" />
                </div>
            </div>
            <p-footer>
                <button type="button" pButton icon="fa-check" (click)="savetolocal(username)" label="Yes"></button>
                <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
            </p-footer>
    </p-dialog>
