<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.hrishikeshkale.com.s3-website.ap-south-1.amazonaws.com/">
                        Hrishikesh Kale
                    </a>
                </li>
                <li>
                    <a href="https://hrishikeshkale.blogspot.in/">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/hrishikesh1212">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.twylahelps.com/">twylahelps</a>
        </div>
    </div>
</footer>
